body {
<<<<<<< HEAD
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}


=======
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.todo {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 5px auto;
  width: 250px;
  border-radius: 8px;
}
>>>>>>> ac4f33c (Finished To-Do List)
