body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 40px;
}

.pokemon-ctr img {
    border-radius: 12px;
    background: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #1adf2a;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}